.orderCart {
    min-height: 545px;
}

button.Checkout-btn {
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #201f1f;
    font-size: 14px;
}

button.Checkout-btn:hover {
    cursor: pointer;
    background-color: #0059ffa7;
    color: #ffffff;
    transition: .5s;
}